* {
  box-sizing: border-box;
  /* border: red 1px dashed; */
}

:root {
  --number-rows: 7;
  --number-cols: 7;
  --piece-size: calc(100vh / calc(var(--number-rows) + 3));
  --col-margin: calc(var(--piece-size) * 0.05);
  --navbar-height: 50px;
  --settings-button: 76px;
  --settings-panel-width: 250px;

  --column-bg: linear-gradient(#3c007c, rgba(255, 255, 255, 0.274));
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Gotu', sans-serif;
  font-weight: 700;
  overflow: hidden;
}

.navbar {
  background-color: rgb(65, 65, 65);
  color: #32eef2;
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: red 1px solid;
  height: var(--navbar-height);
  position: relative;
  z-index: 2;
}

.navbar > h2 {
  margin: 0;
}

.navbar button {
  background-color: #00da0f;
  border: none;
  font-weight: 700;
  box-shadow: 2px 2px 2px black;
}

.navbar button:hover {
  background-color: rgb(0, 255, 4);
  cursor: pointer;
  box-shadow: 3px 3px 3px black, -1px 1px 1px rgba(0, 0, 0, 0.544),
    1px -1px 1px rgba(0, 0, 0, 0.51), -1px -1px 1px rgba(0, 0, 0, 0.427);
}

.navbar-flex {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-icon {
  height: 30px;
  width: 30px;
}

.settings-zone {
  position: absolute;
  top: 45vh;
  left: 0%;
  z-index: 7;
}

#settings-gear1 {
  width: var(--settings-button);
  height: var(--settings-button);
  opacity: 0.6;
  border-radius: 5px;
  border: 1px solid rgba(0, 255, 255, 0.717);
}

.settings-zone img:hover {
  opacity: 1;
  cursor: pointer;
}

.settings-panel {
  top: calc(var(--settings-panel-width) * -0.7);
  left: calc(var(--settings-button) + 0.6em);
  width: var(--settings-panel-width);
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: medium;
  padding: 0px 0 10px 0;
  background-color: rgb(49, 49, 49);
  border: 1px dashed black;
  border-radius: 5px;
  transition: opacity 0.5s;
  color: rgb(185, 185, 185);
}

menu p {
  color: rgb(255, 113, 0);
}

menu input[type='number'] {
  margin-top: 0.4em;
  max-width: calc(var(--settings-panel-width) * 0.2);
}

.swatch {
  height: 50px;
  width: 50px;
  display: inline-block;
}

#swatch1 {
  background: linear-gradient(#038500, rgba(209, 0, 247, 0.32));
}
#swatch2 {
  background: linear-gradient(#746559, rgba(166, 82, 13, 0.3));
}
#swatch3 {
  background: linear-gradient(#570195, rgba(59, 13, 166, 0.3));
}
#swatch4 {
  background: linear-gradient(#a60d8e, rgba(166, 13, 143, 0.3));
}
#swatch5 {
  background: linear-gradient(#480093, rgba(0, 255, 150, 0.3));
}

.board-type-zone {
  margin-top: 15px;
  height: 25px;
}

.board-type-zone img {
  margin-right: 15px;
  border: 1px rgba(0, 255, 255, 0.358) solid;
  border-radius: 3px;
}

.board-type-zone img:hover {
  transform: scale(1.1);
  border: 2px rgba(0, 255, 255, 0.358) solid;
}

main {
  height: calc(100vh - var(--navbar-height));
}

.board {
  background-color: rgb(0, 0, 0);
}

.column {
  width: var(--piece-size);
  height: calc(var(--piece-size) * var(--number-rows));
  display: inline-block;
  margin: 0 var(--col-margin);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.column-visible {
  background-image: var(--column-bg);
  display: inline-block;
  /* border: rgb(0, 255, 34) 1px dashed;
  border-top: black 0px dashed;
  border-bottom: red 1px solid; */
}

.grid-board {
  position: absolute;
  background-image: var(--column-bg);
  width: 100%;
  height: calc(105% - var(--piece-size));
  top: var(--piece-size);
  left: 0;
  border-radius: 5px;
}

.grid-row {
  height: var(--piece-size);
}

.cuttout-wrapper {
  width: var(--piece-size);
  height: var(--piece-size);
  display: inline-flex;
  margin: 0 var(--col-margin);
  justify-content: center;
  align-items: center;
}

.cuttout {
  width: 88%;
  height: 88%;
  background-color: black;
  border-radius: 50%;
  box-shadow: rgb(143, 120, 120) -1px -1px 0px inset;
}

.piece-viewport {
  perspective: 600px;
  left: -1px;
  width: calc(var(--piece-size));
  height: calc(var(--piece-size));
  position: absolute;
  transition: opacity 1s;
}

.piece-wrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.piece {
  width: 92%;
  height: 92%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  border: groove calc(var(--piece-size) / 5) rgb(187, 0, 16);
  border-radius: 47% 49% / 50% 45%;
  border-width: calc(var(--piece-size) / 8) calc(var(--piece-size) / 5)
    calc(var(--piece-size) / 4.5) calc(var(--piece-size) / 4);
  box-shadow: rgb(73, 73, 73) 1px 0px 3px inset,
    rgb(73, 73, 73) -1px 1px 3px inset, rgb(73, 73, 73) -2px -2px 3px inset,
    rgb(12, 12, 12) -1px -1px 0px, rgb(12, 12, 12) -1px -1px 0px,
    rgb(12, 12, 12) -1px 1px 0px, rgb(12, 12, 12) 1px 1px 0px;
}

.back {
  transform: rotateY(0.5turn);
  border: groove calc(var(--piece-size) / 5) rgb(38, 0, 255);
  border-radius: 100% 1000% / 10% 120%;
  box-shadow: rgb(116, 124, 0) 1px 1px 3px inset,
    rgb(116, 124, 0) -1px -2px 3px inset, rgb(116, 124, 0) -1px -1px 0px,
    rgb(116, 124, 0) -1px -1px 0px, rgb(116, 124, 0) -1px 1px 0px,
    rgb(116, 124, 0) 1px 1px 0px;
}

.arrow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.arrow {
  position: absolute;
  height: calc(calc(100vh - var(--navbar-height)) * 0.9);
  width: 50vw;
  top: calc(
    var(--navbar-height) + calc(calc(100vh - var(--navbar-height)) * 0.05)
  );
  z-index: 9;
}

.arrow-left {
  left: 100vw;
  border-radius: 60% 10% 10% 60% / 50% 8% 8% 50%;
  background-image: linear-gradient(
    90deg,
    rgba(117, 29, 107, 0.4),
    rgba(91, 30, 175, 0.4)
  );
}

.arrow-right {
  left: -100vw;
  border-radius: 10% 60% 60% 10% / 8% 50% 50% 8%;
  background-image: linear-gradient(
    90deg,
    rgba(189, 69, 0, 0.4),
    rgba(22, 167, 6, 0.4)
  );
}

.game-over-wrapper {
  position: absolute;
  height: calc(calc(100vh - var(--navbar-height)) * 0.6);
  width: 70vw;
  top: calc(
    var(--navbar-height) + calc(calc(100vh - var(--navbar-height)) * 0.15)
  );
  left: 15vw;
  z-index: 9;
}

.game-over {
  height: inherit;
  width: inherit;
  border-radius: 48% 48% 48% 48% / 40% 40% 40% 40%;
  border: purple groove 5px;
  border-width: 1.5em 0.4em;
  background-color: rgba(255, 0, 0, 0.95);
  text-align: center;
  font-size: calc(var(--piece-size) * 0.9);
  box-shadow: 0px 20px 30px lightgray, -5px 0px 7px lightgray,
    0px -20px 30px lightgray, 5px 0px 7px lightgray,
    2px 2px 10px inset rgb(0, 0, 0), -2px -2px 10px inset rgb(0, 0, 0);
}

.game-over-text {
  font-family: 'Spicy Rice', sans-serif;
}
