/* Animations */

.fall-flip {
    animation: fallFlip 1s ease-out 1 normal none ;
    /*         name    dur timing cnt diret fill */
}
@keyframes fallFlip 
{
    from {transform: rotateY(0deg)}
    to {transform: rotateY(2turn)}
}


.winner {
    animation-name: winnerSpin, pulse;
    animation-duration:  2s, 500ms;
    animation-delay: 0ms, 2000ms;
    animation-direction: normal, alternate; 
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1, infinite;
}
@keyframes winnerSpin 
{ 
    from { transform: rotateY(0turn); } 
    to { transform: rotateY(5turn); }  
}
@keyframes pulse 
{ 
    from { transform: scale(1); } 
    to { transform: scale(0.5); }  
}


.shoot-arrow-left {
    animation: arrowLeft 1s linear 4.2s 1;
}
@keyframes arrowLeft {
    from {left: 100vw}
    to {left: -100vw}
}

.shoot-arrow-right {
    animation: arrowRight 1s linear 4s 1;
}
@keyframes arrowRight {
    from {left: -100vw}
    to {left: 100vw}
}

.animate-g-over {
    animation-name: bgColorChange, zoomSpinGameOver;
    animation-duration: 5s, 1s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: linear, ease-in;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes bgColorChange {
    0% {
        background-color:  rgba(182, 0, 0, 0.85);
        border: rgb(0, 251, 255) groove 3px;
        border-width: 1.5em .4em;
    }
    20% {
        background-color: rgba(255, 123, 0, 0.85);
        border: rgb(0, 0, 128) groove 5px;
        border-width: 1.0em .2em;
    }
    40% {
        background-color: rgba(0, 229, 255, 0.85);
        border: rgb(148, 0, 223) groove 5px;
        border-width: 0.5em 0.5em;
    }
    60% {
        background-color: rgba(0, 0, 107, 0.85);
        border: rgb(246, 255, 0) groove 5px;
        border-width: 0.8em 0.9em;
    }
    80% {
        background-color: rgba(51, 0, 133, 0.85);
        border: rgb(25, 251, 0) groove 5px;
        border-width: 1.2em 0.7em;
    }
    100% {
        background-color: rgba(182, 0, 0, 0.85);
        border: rgb(0, 251, 255) groove 5px;
        border-width: 1.5em 0.4em;
    }
}
@keyframes zoomSpinGameOver {
    from {
        transform: scale(.1);
        opacity: .1;
    }
    to {
        transform: scale(1) rotateZ(5turn);
        opacity: 1;
    }
}

.animate-clear-g-over {
    animation: slideGOverDown 1s ease-in 1 forwards;
}
@keyframes slideGOverDown {
    from { top: calc(var(--navbar-height) + calc(calc(100vh - var(--navbar-height)) * .2)); }
    to { top: 100vh; }
}