/* breakpoints */

@media (orientation: portrait) {
  :root {
    --piece-size: calc(100vw / 10);
    --display-text-size: calc(100vw / 10);
  }
  .game-over-wrapper {
    top: calc(
      var(--navbar-height) + calc(calc(100vh - var(--navbar-height)) * 0.2)
    );
  }

  .settings-zone {
    top: calc(var(--navbar-height));
    left: calc(50vw - calc(var(--settings-button) / 2));
  }

  .settings-panel {
    top: calc(var(--settings-button) + 0.4em);
    left: calc(
      calc(
          calc(var(--settings-panel-width) / 2) -
            calc(var(--settings-button) / 2)
        ) * -1
    );
    margin-top: 0px;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --settings-button: 38px;
    --settings-panel-width: 200px;
  }

  .settings-panel {
    font-size: smaller;
  }

  menu p {
    margin-block-end: 0.3em;
    margin-block-start: 0.7em;
  }

  .swatch {
    height: 25px;
  }
}

@media screen and (min-width: 1400px) {
  /*  Move gear icon right a little, from flushed with left edge of screen.  */
  .settings-zone {
    left: 5%;
  }

  .settings-panel {
    font-size: large;
  }

  .game-over-heading {
    font-size: calc(var(--display-text-size) * 1.2);
  }

  .game-over-text {
    font-size: calc(var(--display-text-size) * 0.7);
  }
}

@media screen and (max-width: 590px) and (orientation: landscape) {
  :root {
    --col-margin: calc(var(--piece-size) * 0.1);
    --settings-panel-width: 140px;
  }

  .settings-panel {
    font-size: xx-small;
    top: calc(var(--settings-panel-width) * -1.18);
  }
}

@media screen and (max-width: 565px) {
  .navbar {
    padding-left: 1em;
    padding-right: 0.5em;
  }
  .navbar-flex {
    width: 130px;
  }
  .navbar button {
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;
  }
  .home-icon {
    height: 21px;
    width: 21px;
  }
}

@media screen and (min-width: 591px) and (max-width: 1000px) and (orientation: landscape) {
  :root {
    --col-margin: calc(var(--piece-size) * 0.1);
  }

  .settings-panel {
    font-size: x-small;
    top: calc(var(--settings-panel-width) * -0.88);
  }
}

@media screen and (min-width: 565px) and (max-width: 1000px) {
  .navbar-flex {
    width: 150px;
  }
  .navbar button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
  }
  .home-icon {
    height: 25px;
    width: 25px;
  }
}
